<h1>Welcome to Message Board!</h1>

<div class="chat">
  <% if (messages) { %>
  <ul class="chat-list">
    <% messages.forEach(({ text, user, addedDate }) => { %> <%-
    include('message', { text, user, addedDate }) %> <% }); %>
  </ul>
  <% } else { %>
  <p>No messages yet. Be the first to add one!</p>
  <% } %>

  <a href="/new" class="btn">New Message</a>
</div>
