<h1>Create a New Message</h1>

<form action="/new" method="post" class="message-form">
  <div class="message-form-group">
    <label class="message-form-label" for="username">User:</label>
    <input
      class="message-form-input"
      type="text"
      id="username"
      name="username"
      required
    />
  </div>

  <div class="message-form-group">
    <label class="message-form-label" for="text">Text:</label>
    <input
      class="message-form-input"
      type="text"
      id="text"
      name="text"
      required
    />
  </div>

  <button class="btn btn-submit" type="submit">Add message</button>
</form>
